@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-glow {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
  }

  .btn-glow:before {
    content: "";
    background: linear-gradient(
      45deg,
      /* #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000 */
      oklch(var(--p)),
      oklch(var(--s)),
      oklch(var(--a)),
      oklch(var(--n))
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    /* Change the size of the shadows here */
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: btn-glow-animation 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .btn-glow:active {
    color: #000;
  }

  .btn-glow:active:after {
    background: transparent;
  }

  .btn-glow:hover:before {
    opacity: 0.3;
  }

  .btn-glow:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes btn-glow-animation {
    0% {
      background-position: 0 0;
    }
    50% {
      /* Change the animation speed here */
      background-position: 300% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}