@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-glow {
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  .btn-glow:before {
    content: "";
    background: linear-gradient(
      45deg,
      /* #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000 */
        oklch(var(--p)),
      color-mix(in lch, oklch(var(--p)) 70%, oklch(var(--s))),
      color-mix(in lch, oklch(var(--p)), oklch(var(--s)) 70%),
      oklch(var(--s)),
      color-mix(in lch, oklch(var(--s)) 70%, oklch(var(--a))),
      color-mix(in lch, oklch(var(--s)), oklch(var(--a)) 70%),
      oklch(var(--a)),
      /* Return color back to first color */
        color-mix(in lch, oklch(var(--a)) 70%, oklch(var(--p))),
      color-mix(in lch, oklch(var(--a)), oklch(var(--p)) 70%),
      oklch(var(--p))
    );
    background-size: 400%;
    position: absolute;
    z-index: -1;

    /* Size of the shadow glow */
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-radius: 16px;

    /* Centers the shadow glow onto element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    filter: blur(4px);
    animation: btn-glow-animation 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
  }

  .btn-glow:hover:before {
    opacity: 0.4;
  }

  .btn-glow:active {
    color: #000;
  }

  .btn-glow:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: #111;
    border-radius: 10px;
  }

  .btn-glow:active:after {
    background: transparent;
  }

  @keyframes btn-glow-animation {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}